<%= form_for(@add_effect) do |f| %>
  <% if @add_effect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@add_effect.errors.count, "error") %> prohibited this add_effect from being saved:</h2>

      <ul>
      <% @add_effect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :media_id %><br />
    <%= f.text_field :media_id %>
  </div>
  <div class="field">
    <%= f.label :ratio %><br />
    <%= f.text_field :ratio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
