<p id="notice"><%= notice %></p>

<p>
  <b>Media:</b>
  <%= @add_effect.media_id %>
</p>

<p>
  <b>Ratio:</b>
  <%= @add_effect.ratio %>
</p>


<%= link_to 'Edit', edit_add_effect_path(@add_effect) %> |
<%= link_to 'Back', add_effects_path %>
