<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @investment.round_id %>
</p>

<p>
  <b>Player:</b>
  <%= @investment.player_id %>
</p>

<p>
  <b>Investment type:</b>
  <%= @investment.investment_type_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @investment.amount %>
</p>


<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
