<h1>Listing consumer_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Purchase quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consumer_types.each do |consumer_type| %>
  <tr>
    <td><%= consumer_type.name %></td>
    <td><%= consumer_type.purchase_quantity %></td>
    <td><%= link_to 'Show', consumer_type %></td>
    <td><%= link_to 'Edit', edit_consumer_type_path(consumer_type) %></td>
    <td><%= link_to 'Destroy', consumer_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consumer type', new_consumer_type_path %>
