<h1>Listing macro_indicator_for_rounds</h1>

<table>
  <tr>
    <th>Round</th>
    <th>Macro indicator option</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @macro_indicator_for_rounds.each do |macro_indicator_for_round| %>
  <tr>
    <td><%= macro_indicator_for_round.round_id %></td>
    <td><%= macro_indicator_for_round.macro_indicator_option_id %></td>
    <td><%= link_to 'Show', macro_indicator_for_round %></td>
    <td><%= link_to 'Edit', edit_macro_indicator_for_round_path(macro_indicator_for_round) %></td>
    <td><%= link_to 'Destroy', macro_indicator_for_round, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Macro indicator for round', new_macro_indicator_for_round_path %>
