<h1>Listing macro_indicator_options</h1>

<table>
  <tr>
    <th>Macro indicator</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @macro_indicator_options.each do |macro_indicator_option| %>
  <tr>
    <td><%= macro_indicator_option.macro_indicator_id %></td>
    <td><%= macro_indicator_option.name %></td>
    <td><%= link_to 'Show', macro_indicator_option %></td>
    <td><%= link_to 'Edit', edit_macro_indicator_option_path(macro_indicator_option) %></td>
    <td><%= link_to 'Destroy', macro_indicator_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Macro indicator option', new_macro_indicator_option_path %>
