<h1>Listing player_factories</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Factory</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @player_factories.each do |player_factory| %>
  <tr>
    <td><%= player_factory.player_id %></td>
    <td><%= player_factory.factory_id %></td>
    <td><%= player_factory.active %></td>
    <td><%= link_to 'Show', player_factory %></td>
    <td><%= link_to 'Edit', edit_player_factory_path(player_factory) %></td>
    <td><%= link_to 'Destroy', player_factory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player factory', new_player_factory_path %>
