<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @round.name %>
</p>

<p>
  <b>Case study:</b>
  <%= @round.case_study_id %>
</p>


<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
