<h1>Listing round_expenses</h1>

<table>
  <tr>
    <th>Round</th>
    <th>Expense</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @round_expenses.each do |round_expense| %>
  <tr>
    <td><%= round_expense.round_id %></td>
    <td><%= round_expense.expense_id %></td>
    <td><%= link_to 'Show', round_expense %></td>
    <td><%= link_to 'Edit', edit_round_expense_path(round_expense) %></td>
    <td><%= link_to 'Destroy', round_expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Round expense', new_round_expense_path %>
