<h1>Listing productions</h1>

<table>
  <tr>
    <th>Round</th>
    <th>Player</th>
    <th>Active</th>
    <th>Quantity</th>
    <th>Production cost</th>
    <th>Factory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productions.each do |production| %>
  <tr>
    <td><%= production.round_id %></td>
    <td><%= production.player_id %></td>
    <td><%= production.active %></td>
    <td><%= production.quantity %></td>
    <td><%= production.production_cost %></td>
    <td><%= production.factory_id %></td>
    <td><%= link_to 'Show', production %></td>
    <td><%= link_to 'Edit', edit_production_path(production) %></td>
    <td><%= link_to 'Destroy', production, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Production', new_production_path %>
