<%= form_for(@consumer_demographic) do |f| %>
  <% if @consumer_demographic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumer_demographic.errors.count, "error") %> prohibited this consumer_demographic from being saved:</h2>

      <ul>
      <% @consumer_demographic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dealer_id %><br />
    <%= f.text_field :dealer_id %>
  </div>
  <div class="field">
    <%= f.label :consumer_type_id %><br />
    <%= f.text_field :consumer_type_id %>
  </div>
  <div class="field">
    <%= f.label :ratio %><br />
    <%= f.text_field :ratio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
