<%= form_for(@employee_expense) do |f| %>
  <% if @employee_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_expense.errors.count, "error") %> prohibited this employee_expense from being saved:</h2>

      <ul>
      <% @employee_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_id %><br />
    <%= f.text_field :round_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :employee_efficiency %><br />
    <%= f.text_field :employee_efficiency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
