<%= form_for(@survey_position) do |f| %>
  <% if @survey_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_position.errors.count, "error") %> prohibited this survey_position from being saved:</h2>

      <ul>
      <% @survey_position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
