<h1>Listing selected_hr_incentives</h1>

<table>
  <tr>

    <th>Player</th>
    <th>Active</th>
    <th>Value</th>
    <th>Hr incentive cost</th>
    <th>Hr incentive for round</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @selected_hr_incentives.each do |selected_hr_incentive| %>
  <tr>

    <td><%= selected_hr_incentive.player_id %></td>
    <td><%= selected_hr_incentive.active %></td>
    <td><%= selected_hr_incentive.value %></td>
    <td><%= selected_hr_incentive.hr_incentive_cost %></td>
    <td><%= selected_hr_incentive.hr_incentive_for_round_id %></td>
    <td><%= link_to 'Show', selected_hr_incentive %></td>
    <td><%= link_to 'Edit', edit_selected_hr_incentive_path(selected_hr_incentive) %></td>
    <td><%= link_to 'Destroy', selected_hr_incentive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


