<h1>Listing student_group_users</h1>

<table>
  <tr>
    <th>Student group</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_group_users.each do |student_group_user| %>
  <tr>
    <td><%= student_group_user.student_group_id %></td>
    <td><%= student_group_user.user_id %></td>
    <td><%= link_to 'Show', student_group_user %></td>
    <td><%= link_to 'Edit', edit_student_group_user_path(student_group_user) %></td>
    <td><%= link_to 'Destroy', student_group_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


