<h1>Listing price_indices</h1>

<table>
  <tr>
    <th>Round</th>
    <th>Brand</th>
    <th>Price index</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @price_indices.each do |price_index| %>
  <tr>
    <td><%= price_index.round_id %></td>
    <td><%= price_index.brand_id %></td>
    <td><%= price_index.price_index %></td>
    <td><%= link_to 'Show', price_index %></td>
    <td><%= link_to 'Edit', edit_price_index_path(price_index) %></td>
    <td><%= link_to 'Destroy', price_index, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Calculate price index', :action => 'calculate_price_index' ,:round_id=>1%>
<%= link_to 'Delete all price indices', :action => 'delete_all_price_indices' %>
