<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @pnl.round_id %>
</p>

<p>
  <b>Player:</b>
  <%= @pnl.player_id %>
</p>

<p>
  <b>Income:</b>
  <%= @pnl.income %>
</p>

<p>
  <b>Cogs:</b>
  <%= @pnl.cogs %>
</p>

<p>
  <b>Employee cost:</b>
  <%= @pnl.employee_cost %>
</p>

<p>
  <b>Sga:</b>
  <%= @pnl.sga %>
</p>

<p>
  <b>Ebitda:</b>
  <%= @pnl.ebitda %>
</p>

<p>
  <b>Interest:</b>
  <%= @pnl.interest %>
</p>

<p>
  <b>Inv income:</b>
  <%= @pnl.inv_income %>
</p>

<p>
  <b>Depreciation:</b>
  <%= @pnl.depreciation %>
</p>

<p>
  <b>Pbt:</b>
  <%= @pnl.pbt %>
</p>

<p>
  <b>Tax:</b>
  <%= @pnl.tax %>
</p>

<p>
  <b>Pat:</b>
  <%= @pnl.pat %>
</p>


<%= link_to 'Edit', edit_pnl_path(@pnl) %> |
<%= link_to 'Back', pnls_path %>
