<%= form_for(@expense_for_round) do |f| %>
  <% if @expense_for_round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_for_round.errors.count, "error") %> prohibited this expense_for_round from being saved:</h2>

      <ul>
      <% @expense_for_round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_id %><br />
    <%= f.text_field :round_id %>
  </div>
  <div class="field">
    <%= f.label :expense_id %><br />
    <%= f.text_field :expense_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
