<h1>Listing expense_for_rounds</h1>

<table>
  <tr>
    <th>Round</th>
    <th>Expense</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expense_for_rounds.each do |expense_for_round| %>
  <tr>
    <td><%= expense_for_round.round_id %></td>
    <td><%= expense_for_round.expense_id %></td>
    <td><%= link_to 'Show', expense_for_round %></td>
    <td><%= link_to 'Edit', edit_expense_for_round_path(expense_for_round) %></td>
    <td><%= link_to 'Destroy', expense_for_round, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense for round', new_expense_for_round_path %>
