<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @channel_index.round_id %>
</p>

<p>
  <b>Brand:</b>
  <%= @channel_index.brand_id %>
</p>

<p>
  <b>Channel index:</b>
  <%= @channel_index.channel_index %>
</p>


<%= link_to 'Edit', edit_channel_index_path(@channel_index) %> |
<%= link_to 'Back', channel_indices_path %>
