<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @media_for_round.round_id %>
</p>

<p>
  <b>Medium:</b>
  <%= @media_for_round.medium_id %>
</p>

<p>
  <b>Min limit:</b>
  <%= @media_for_round.min_limit %>
</p>

<p>
  <b>Max limit:</b>
  <%= @media_for_round.max_limit %>
</p>


<%= link_to 'Edit', edit_media_for_round_path(@media_for_round) %> |
<%= link_to 'Back', media_for_rounds_path %>
