<h1>Listing players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Student group user</th>
    <th>Case study</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.student_group_user_id %></td>
    <td><%= player.case_study_id %></td>
    <td><%= player.role_id %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
