<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Student group user:</b>
  <%= @player.student_group_user_id %>
</p>

<p>
  <b>Case study:</b>
  <%= @player.case_study_id %>
</p>

<p>
  <b>Role:</b>
  <%= @player.role_id %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
