<%= form_for(@incentive_effect_on_dealer) do |f| %>
  <% if @incentive_effect_on_dealer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incentive_effect_on_dealer.errors.count, "error") %> prohibited this incentive_effect_on_dealer from being saved:</h2>

      <ul>
      <% @incentive_effect_on_dealer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dealer_id %><br />
    <%= f.text_field :dealer_id %>
  </div>
  <div class="field">
    <%= f.label :channel_incentive_id %><br />
    <%= f.text_field :channel_incentive_id %>
  </div>
  <div class="field">
    <%= f.label :ratio %><br />
    <%= f.text_field :ratio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
