<p id="notice"><%= notice %></p>

<p>
  <b>Product type:</b>
  <%= @product_composition.product_type_id %>
</p>

<p>
  <b>Factory input:</b>
  <%= @product_composition.factory_input_id %>
</p>

<p>
  <b>Ratio:</b>
  <%= @product_composition.ratio %>%
</p>
<p>
  <b>Weight:</b>
  <%= @product_composition.weight %>kg
</p>


<%= link_to 'Edit', edit_product_composition_path(@product_composition) %> |
<%= link_to 'Back', product_compositions_path %>
