<%= form_for(@player_expense) do |f| %>
  <% if @player_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_expense.errors.count, "error") %> prohibited this player_expense from being saved:</h2>

      <ul>
      <% @player_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_id %><br />
    <%= f.text_field :round_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :expense_id %><br />
    <%= f.text_field :expense_id %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
