<h1>Listing student_group_surveys</h1>

<table>
  <tr>
    <th>Student group</th>
    <th>Survey</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_group_surveys.each do |student_group_survey| %>
  <tr>
    <td><%= student_group_survey.student_group_id %></td>
    <td><%= student_group_survey.survey_id %></td>
    <td><%= link_to 'Show', student_group_survey %></td>
    <td><%= link_to 'Edit', edit_student_group_survey_path(student_group_survey) %></td>
    <td><%= link_to 'Destroy', student_group_survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student group survey', new_student_group_survey_path %>
