<%= form_for(@ad_effect_on_consumer) do |f| %>
  <% if @ad_effect_on_consumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_effect_on_consumer.errors.count, "error") %> prohibited this ad_effect_on_consumer from being saved:</h2>

      <ul>
      <% @ad_effect_on_consumer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consumer_id %><br />
    <%= f.text_field :consumer_id %>
  </div>
  <div class="field">
    <%= f.label :media_id %><br />
    <%= f.text_field :media_id %>
  </div>
  <div class="field">
    <%= f.label :ratio %><br />
    <%= f.text_field :ratio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
