<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @brand.player_id %>
</p>

<p>
  <b>Name:</b>
  <%= @brand.name %>
</p>

<p>
  <b>Product type:</b>
  <%= @brand.product_type_id %>
</p>

<p>
  <b>Price:</b>
  <%= @brand.price %>
</p>


<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
