<h1>Listing student_group_case_studies</h1>

<table>
  <tr>
    <th>Student group</th>
    <th>Case study</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_group_case_studies.each do |student_group_case_study| %>
  <tr>
    <td><%= student_group_case_study.student_group_id %></td>
    <td><%= student_group_case_study.case_study_id %></td>
    <td><%= link_to 'Show', student_group_case_study %></td>
    <td><%= link_to 'Edit', edit_student_group_case_study_path(student_group_case_study) %></td>
    <td><%= link_to 'Destroy', student_group_case_study, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student group case study', new_student_group_case_study_path %>
