<h1>Listing channel_incentive_for_rounds</h1>

<table cellpadding="3px" cellspacing="3px">
  <tr>
    <th>Channel incentive</th>
    <th>Round</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @channel_incentive_for_rounds.each do |channel_incentive_for_round| %>
  <tr align="center">
    <td><%= channel_incentive_for_round.channel_incentive_id %></td>
    <td><%= channel_incentive_for_round.round_id %></td>
    <td><%= link_to 'Show', channel_incentive_for_round %></td>
    <td><%= link_to 'Edit', edit_channel_incentive_for_round_path(channel_incentive_for_round) %></td>
    <td><%= link_to 'Destroy', channel_incentive_for_round, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Channel incentive for round', new_channel_incentive_for_round_path %>
