<p id="notice"><%= notice %></p>

<p>
  <b>Min effect of hr incentive:</b>
  <%= @range_specification.min_effect_of_hr_incentive %>
</p>

<p>
  <b>Max effect of hr incentive:</b>
  <%= @range_specification.max_effect_of_hr_incentive %>
</p>

<p>
  <b>Min effect of channel incentive:</b>
  <%= @range_specification.min_effect_of_channel_incentive %>
</p>

<p>
  <b>Max effect of channel incentive:</b>
  <%= @range_specification.max_effect_of_channel_incentive %>
</p>

<p>
  <b>Min effect of media:</b>
  <%= @range_specification.min_effect_of_media %>
</p>

<p>
  <b>Max effect of media:</b>
  <%= @range_specification.max_effect_of_media %>
</p>

<p>
  <b>Min dealer catchment:</b>
  <%= @range_specification.min_dealer_catchment %>
</p>

<p>
  <b>Max dealer catchment:</b>
  <%= @range_specification.max_dealer_catchment %>
</p>

<p>
  <b>Min consumer catchment:</b>
  <%= @range_specification.min_consumer_catchment %>
</p>

<p>
  <b>Max consumer catchment:</b>
  <%= @range_specification.max_consumer_catchment %>
</p>

<p>
  <b>Min employee count:</b>
  <%= @range_specification.min_employee_count %>
</p>

<p>
  <b>Max employee count:</b>
  <%= @range_specification.max_employee_count %>
</p>


<%= link_to 'Edit', edit_range_specification_path(@range_specification) %> |
<%= link_to 'Back', range_specifications_path %>
