<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @facilitator_group.name %>
</p>

<p>
  <b>Facilitator:</b>
  <%= @facilitator_group.facilitator_id %>
</p>


<%= link_to 'Edit', edit_facilitator_group_path(@facilitator_group) %> |
<%= link_to 'Back to Facilitator',:controller => :facilitators, :action => 'new'  %>
